{% extends "base.html" %}
{% block content %}

<span style="color:#495F7C;font-weight:bold;font-size:40px" class="text-center">This is a <span style="color:#3191f3">Progressive web app</span> with Flask</span>
<br/>
<span style="color:#495F7C;font-weight:bold;font-size:30x" class="text-center">If your browser supports pwa (like chrome) You should see an install button or "Install app" in chrome mobile</span>.
<a style="font-weight:bold;font-size:30px" class="text-center" href="https://github.com/Oussama1403/Flask-PWA">
    Flask-PWA
</a>

{% endblock content %}
